
    <!-- <div class="container" *ngIf="data">
        <div class="row">
            <div class="col-sm-5" *ngFor="let item of data.articles">
                <div class="card" style="width: 30rem;" *ngIf="item.title">
                    <img [src]="item.urlToImage" class="card-img-top" [alt]="item.description">
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <a [href]="item.url" class="btn btn-primary">Source</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
    </style>
        

    <h1>Top news</h1>
    
    <div *ngFor="let item of data?.articles">
        <a [href]="item.url">{{item.title}}</a>
      </div>
